<div class="container-fluid d-flex page-container px-0">
    <div class="row w-100 mx-0">
        <aside class="col-3 px-3 py-2">
            <strong>Feeds</strong>
            <ul class="list-unstyled pl-1 subscriptions-list">
                <li *ngFor="let subscription of subscriptions" class="mb-1" (click)="onSubscriptionClick(subscription)">
                    <!--<img src="https://www.google.com/s2/favicons?domain={{ subscription.url }}&alt=feed" alt="" class="pr-2">-->
                    <i class="icon icon-rss"></i>
                    {{ subscription.name }}
                </li>
            </ul>
        </aside>
        <div class="col-9 px-3 py-2">
            <ul class="list-unstyled" *ngIf="feed">
                <li *ngFor="let item of feed.items">{{ item.title }}</li>
            </ul>
        </div>
    </div>
</div>
