//@import "../../../../node_modules/compass-mixins/lib/compass";
//@import "../../../../node_modules/compass-mixins/lib/animate";

@import "../../../assets/scss/modules/colors";

.page-container {
	height: 100%;
}

aside {
	border-right: 1px solid map_get($colors, light-grey);

	.subscriptions-list {
		li {
			cursor: pointer;
			&:hover {
				color: cornflowerblue;
			}
		}
	}
}
